.display-container {
  display: flex;
  flex-direction: column-reverse;
  height: auto;
  width: 350px;
  overflow: auto;
}

.npc-row {
  border: 3px double black;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.npc-upper-row {
  display: flex;
  align-items: center;
}

.npc-class {
  margin: 10px;
}

/* backstory dropdown section */
.backstory-container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.npc-backstory-details-container {
  margin-top: 10px;
}

.npc-background-title {
  font-weight: bold;
}

/* vector image and animation */

.img-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 30px;
  margin-top: 5px;
}

.image {
  height: 30px;
}

.image:hover {
  animation: hover 2s infinite;
}

@keyframes hover {
  50% {
    transform: translateY(15%);
  }
}
